* {
    font-family: 'Roboto', sans-serif;
   }

.title {
    display: block;
    margin: auto;
    text-align: center;
}

video {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
  }

.hidden-canvas {
    display: none;
}

.controls {
    text-align: center;
}

.tag-selector {
    margin-bottom: 20px;
    font-size: large;
}

.flip-button {
    background-color : #31B0D5;
}

.capture-button {
    background-color: green;
}

.button {
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: x-large;
}

.bottom-right-corner {
    position: fixed;
    bottom: -4px;
    right: 10px;
  }

.bottom-left-corner {
    position: fixed;
    bottom: -4px;
    left: 10px;
  }
