<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Valera</title>

    <meta name="description" content="">
    <meta name="author" content="">


    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/base.css') }}">



    <!-- script
    ================================================== -->


    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/tabIcon.png') }}">

    <link rel="icon" href="{{ url_for('static', filename='images/tabIcon.png') }}">


</head>

<body id="top">

<!-- header
================================================== -->
<header>

    hello gaybois

</header> <!-- end s-header -->




</body>

</html>
