<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Valera</title>

    <meta name="description" content="">
    <meta name="author" content="">


    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/base.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/component.css') }}">


    <!-- script
    ================================================== -->
   <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/tabIcon.png') }}">

    <link rel="icon" href="{{ url_for('static', filename='images/tabIcon.png') }}">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />

<style>
  body {
    background-color:#ce3635;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }

  * { color:#fff; text-decoration: none;}
</style>

</head>

<body id="top" style="background: #ff6b6b">

<!-- header
================================================== -->
<center>

    <h style="color:white; font-size:40px; font-family: Ubuntu;">Welcome to</h>
    <h1>
      <a href="" style="color:white; font-size:170px; font-family: Ubuntu;" class="typewrite" data-period="2000" data-type='[ "Valera", "Your Room", "Peace of Mind", "Roommate Heaven" ]'>
        <span class="wrap"></span>
      </a>
    </h1>

</center> <!-- end s-header -->

<script>
var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>

<center style="line-height: 400px">


</center> <!-- end s-header -->

<div class="container">
  <!-- Top Navigation -->
  <section>

      <a href="/face"><button class="btn btn-1 btn-1c">Login</button></a>

  </section>

  <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
  <script>
    var buttons7Click = Array.prototype.slice.call( document.querySelectorAll( '#btn-click button' ) ),
      buttons9Click = Array.prototype.slice.call( document.querySelectorAll( 'button.btn-8g' ) ),
      totalButtons7Click = buttons7Click.length,
      totalButtons9Click = buttons9Click.length;

    buttons7Click.forEach( function( el, i ) { el.addEventListener( 'click', activate, false ); } );
    buttons9Click.forEach( function( el, i ) { el.addEventListener( 'click', activate, false ); } );

    function activate() {
      var self = this, activatedClass = 'btn-activated';

      if( classie.has( this, 'btn-7h' ) ) {
        // if it is the first of the two btn-7h then activatedClass = 'btn-error';
        // if it is the second then activatedClass = 'btn-success'
        activatedClass = buttons7Click.indexOf( this ) === totalButtons7Click-2 ? 'btn-error' : 'btn-success';
      }
      else if( classie.has( this, 'btn-8g' ) ) {
        // if it is the first of the two btn-8g then activatedClass = 'btn-success3d';
        // if it is the second then activatedClass = 'btn-error3d'
        activatedClass = buttons9Click.indexOf( this ) === totalButtons9Click-2 ? 'btn-success3d' : 'btn-error3d';
      }

      if( !classie.has( this, activatedClass ) ) {
        classie.add( this, activatedClass );
        setTimeout( function() { classie.remove( self, activatedClass ) }, 1000 );
      }
    }

    document.querySelector( '.btn-7i' ).addEventListener( 'click', function() {
      classie.add( document.querySelector( '#trash-effect' ), 'trash-effect-active' );
    }, false );
  </script>

</div><!-- /container -->

</body>

</html>
